version: '3.8'

services:
  # 1. The Gateway (Server Side)
  gateway:
    build:
      context: ./gateway
    ports:
      - "8881:8881"
    restart: always

  # 2. The Backend Agent (Client Side - Linux Host Mode)
  # Run only if testing on Linux with Docker
  agent-linux:
    build:
      context: ./backend
    privileged: true
    network_mode: host
    environment:
      - DISPLAY=${DISPLAY}
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
      - /dev/input:/dev/input
    restart: unless-stopped
